body{
  text-align: center;
 }
#main {
  margin: 64px auto ;
  width: 626px;
  height: 486px;
  }
h1{
  margin: 32px auto;
  font-family: 'Dosis';
  font-size: 32px;
}

h1 span{
  color: #EE24FF;
  font-weight: 700;
}
p, #footer {
  font-family: 'Open sans';
  font-size: 15px;
  line-height: 22px;
}
#linha{
  width: 391px;
  border: black solid 1px;
  margin: auto;
}
ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 42px;
}
ul li {
  list-style: none;
  }